@using WebApplicationProject.Model;
@using PagedList.Mvc;
@model PagedList.PagedList<NHANVIEN>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="container-fluid px-3">
    <div class="row g-3 my-2">
        <!--Thêm  tìm kiếm vào đây-->
        @using (Html.BeginForm("Index", "NhanVien", FormMethod.Get))
        {
            <div class="body-search">
                <div class="box-search">
                    <input type="text" placeholder="Search... " value="@ViewBag.Search" name="strSearch">
                    <input type="submit" value="Tìm" class="btn btn-primary" />
                </div>
            </div>
        }
        <!--Thêm mới-->
        <div>
            @Html.ActionLink("Thêm mới", "Create", null, htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    </div>
    <div class="row g-3 my-2">
        <h2 style="text-align:center">QUẢN LÝ GIÁO VIÊN</h2>
        <div class="col">
            <table class="table bg-white rounded shadow-sm  table-hover" style="text-align:center">
                <thead>
                    <tr>
                        <th scope="col" width="50">ID</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Giới tính</th>
                        <th scope="col">Ngày sinh</th>
                        <th scope="col">Chuyên ngành</th>
                        <th scope="col">Địa chỉ</th>
                        <th scope="col">Email</th>
                        <th scope="col">Quyền hạn</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.MaNhanVien</th>
                            <td>@item.TenNhanVien</td>
                            <td>@item.GioiTinh</td>
                            <td>@Html.FormatValue(@item.NgaySinh, "{0:dd/MM/yyyy}")</td>
                            <td>@item.ChuyenNganh</td>
                            <td>@TrunCate(item.DiaChi, 10)</td>
                            <td>@TrunCate(item.Email, 10)</td>
                            <td>@item.LOAINHANVIEN.TenLoaiNhanVien</td>
                            <td>
                                <a href="@Url.Action("Edit","NhanVien", new { id = item.MaNhanVien})" class="btn btn-warning" role="button"><i class="fas fa-edit"></i></a>
                                <a href="@Url.Action("Details","NhanVien", new { id = item.MaNhanVien })" class="btn btn-primary" role="button"><i class="fas fa-info-circle"></i></a>
                                <a href="@Url.Action("Delete","NhanVien", new { id = item.MaNhanVien })" class="btn btn-danger" role="button"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    @*Phần Menu phân trang*@
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", "NhanVien", new { iMaKH = ViewBag.MaKH, page = page }))
    </div>
</div>
<style>
    .MenuTrang {
        display: flex;
        justify-content: center;
        text-align: center;
    }
</style>
@helper TrunCate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}

