
<!-- Navigationbar -->
<div class="bg-white" id="sidebar-wrapper">
    <div class="sidebar-heading">
        <img src="~/images/Logo_Version1.png" width="200" />

    </div>
    <hr/>
    <div class="list-group list-group-flush my-3">
        <a class="list-group-item list-group-item-action bg-transparent second-text fw-bold" data-bs-toggle="collapse" href="#collapseQLChung" role="button" aria-expanded="false" aria-controls="collapseChung">
            <i class="fas fa-house-user me-2"></i>Quản lý chung
        </a>
        <div id="collapseQLChung" class="collapse" data-parent="#quanlyChung">
            <a href="@Url.Action("Admin","Login")" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" style="margin-left: 20px;">
                <i class="fas fa-scroll"></i> Tình hình chung
            </a>
            <a href="@Url.Action("Index","Lich")" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" style="margin-left: 20px;">
                <i class="fas fa-calendar-alt"></i> Xem lịch hoạt động
            </a>
            @*<a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" style="margin-left: 20px;">
                Phân chia phòng học
            </a>*@
        </div>
        @*<a href="@Url.Action("Admin","Login")" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-house-user me-2"></i>Quản lý chung
        </a>*@
        <a class="list-group-item list-group-item-action bg-transparent second-text fw-bold" data-bs-toggle="collapse" href="#collapseNguoiDung" role="button" aria-expanded="false" aria-controls="collapseNguoiDung">
            <i class="fas fa-users me-2"></i>Quản lý người dùng
        </a>
        <div id="collapseNguoiDung" class="collapse" data-parent="#quanlyChung">

            <a href="@Url.Action("Index","NhanVien")" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" style="margin-left: 20px;">
                <i class="fas fa-user-tie"></i> Quản lý giáo viên
            </a>
            <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" style="margin-left: 20px;">
                <i class="fas fa-user-graduate"></i> Quản lý học viên
            </a>
        </div>
        <a href="@Url.Action("Index","Course")" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-window-restore me-2"></i>Quản lý khóa học
        </a>
        <a href="@Url.Action("Index","PhongHoc")" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-laptop-house me-2"></i>Quản lý phòng học
        </a>
        <a href="@Url.Action("Index", "Lop")" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-pencil-ruler"></i> Quản lý lớp học
        </a>

        @*<a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-graduation-cap me-2"></i>Quản lý giáo viên
        </a>*@
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-money-check-alt me-2"></i>Quản lý thu chi
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-torah me-2"></i>Quản lý lịch thi
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-tags me-2"></i>Quản lý khảo sát
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fab fa-facebook-messenger me-2"></i>Quản lý yêu cầu, thông báo
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
            <i class="fas fa-unlock me-2"></i>Đổi mật khẩu
        </a>
        <a href="#" class="list-group-item list-group-item-action bg-transparent text-danger fw-bold">
            <i class="fas fa-sign-out-alt fa-rotate-180 me-2"></i>Logout
        </a>
    </div>
</div>
<!-- /#Navigationbar-wrapper -->
