@using WebApplicationProject.Model;
@using PagedList.Mvc;
@model PagedList.PagedList<PHONGHOC>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}
<!--Hiệu ứng mở, đóng View Create của Loại phòng-->
<script>
    $(document).ready(function () {
        var isCreateVisible = false; // Biến để kiểm tra trạng thái hiển thị

        $("#btnThem").click(function (event) {
            event.preventDefault(); // 

            if (isCreateVisible) {
                // Nếu view "Create" đang hiển thị, ẩn nó đi
                $("#partialCreate").hide();
                isCreateVisible = false;
            } else {
                // Nếu view "Create" đang ẩn, hiển thị nó
                $("#partialCreate").show();
                isCreateVisible = true;
            }
        });
    });
</script>

<!--End Hiệu ứng mở, đóng View Create của Loại phòng-->
<div class="container-fluid px-3">
    <div class="row g-3 my-2">
        <!--Thêm  tìm kiếm vào đây-->
        @using (Html.BeginForm("Index", "PhongHoc", FormMethod.Get))
        {
            <div class="body-search">
                <div class="box-search">
                    <input type="text" placeholder="Search... " value="@ViewBag.Search" name="strSearch">
                    <input type="submit" value="Tìm" class="btn btn-primary" />
                </div>
            </div>
        }
        <!--Thêm mới-->
        <div>
            @Html.ActionLink("Thêm mới", "Create", null, htmlAttributes: new { @class = "btn btn-danger" })
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <h2 style="text-align:center">QUẢN LÝ PHÒNG HỌC</h2><br />
            <div class="col">
                <table class="table bg-white rounded shadow-sm  table-hover" style="text-align:center">
                    <thead>
                        <tr>
                            <th scope="col" width="50">ID</th>
                            <th scope="col">Tên phòng</th>
                            <th scope="col">Loại phòng</th>
                            <th scope="col">Sức chứa</th>
                            <th scope="col">Tình trạng</th>
                            <th scope="col">Ngày tạo</th>
                            <th scope="col">Người tạo</th>
                            <th scope="col">Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <th scope="row">@item.MaPhongHoc</th>
                                <td>@item.TenPhongHoc</td>
                                <td>@item.LOAI.TenLoai</td>
                                <td>@item.SucChua</td>
                                <td>@item.TinhTrang</td>
                                <td>@Html.FormatValue(@item.NgayTao, "{0:dd/MM/yyyy}") </td>
                                <td>@item.NHANVIEN.TenNhanVien</td>
                                <td>
                                    @*<a href="@Url.Action("EditTinhTrang","PhongHoc", new { id = item.MaPhongHoc })" class="btn btn-success" role="button">Cập nhật tình trạng</a>*@
                                    <a href="@Url.Action("Edit","PhongHoc", new { id = item.MaPhongHoc })" class="btn btn-warning" role="button"><i class="fas fa-edit"></i></a>
                                    <a href="@Url.Action("Details","PhongHoc", new { id = item.MaPhongHoc})" class="btn btn-primary" role="button"><i class="fas fa-info-circle"></i></a>
                                    <a href="@Url.Action("Delete","PhongHoc", new { id = item.MaPhongHoc })" class="btn btn-danger" role="button"><i class="fas fa-trash-alt"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*Phần Menu phân trang*@
            <link rel="stylesheet" href="~/Content/PagedList.css" />
            <div class="MenuTrang">
                @Html.PagedListPager(Model, page => Url.Action("Index", "PhongHoc", new { iMaKH = ViewBag.MaKH, page = page }))
            </div>
        </div>
        <div class="col-md-3 bg-ChildMenu" style="height:757px">
            <h4 style="text-align:center">LOẠI PHÒNG</h4>
            @Html.Action("Index", "Loai")

            <div style="text-align:center">
                <a id="btnThem" href="#" class="btn btn-success" role="button"><i class="fas fa-plus"></i></a>
                <a href="#" class="btn btn-danger" role="button"><i class="fas fa-trash-alt"></i></a>
            </div>
            <!-- Phần để hiển thị view "Create" của loại phòng -->
            <div id="partialCreate" style="display: none;">
                @Html.Action("Create", "Loai")
            </div>
            <br />
        </div>
    </div>
</div>
<style>
    .MenuTrang {
        display: flex;
        justify-content: center;
        text-align: center;
    }
</style>

