@using WebApplicationProject.Model;

<!DOCTYPE html>
<html>
<head>
    <title>Table 04</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    @Styles.Render("~/Content/Schedule")
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center mb-4">Schedule in Week</h4>
                    <div class="table-wrap">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Sunday</th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < 7; i++)
                                {
                                <td class="text-center" id="@Model.DisplayDates[i].ToString("yyyy-MM-dd")">
                                    <div class="date">@Model.DisplayDates[i].Day</div>

                                    @foreach (var classInfo in Model.ClassesByDate[Model.DisplayDates[i]])
                                    {
                                        <div class="class-info">
                                            <div class="event">
                                                <div class="event-desc">
                                                    @classInfo.ClassName
                                                </div>
                                                <div class="event-desc">
                                                    @classInfo.ClassGiaoVien
                                                </div>
                                                <div class="event-time">
                                                    @classInfo.ClassTenCaHoc
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </td>
                            }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th><a href="#"><i class="fa fa-long-arrow-left"></i> September</a></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th><a href="#">November <i class="fa fa-long-arrow-right"></i></a></th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>