@using WebApplicationProject.Model
@model List<DanhSachDangky>

@{
    ViewBag.Title = "DanhSachDangKy";
    Layout = "~/Areas/User/Views/Shared/LayoutHomeUser.cshtml";
}

@Styles.Render("~/Content/cart")

<h1 style="text-align: center; margin-bottom: 50px; margin-top:30px">Danh Sách Khóa Học Đăng Ký</h1>
<div class="card" style="font-size:180%; margin-bottom:50px">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Khóa học</b></h4></div>
                    <div class="col align-self-center text-right text-muted">@Model.Count items</div>
                </div>
            </div>

            @foreach (var item in Model)
            {
                <div class="row border-top border-bottom">
                    <div class="row main align-items-center">
                        <div class="col-2"><img class="img-fluid" src="~/images/@item.sAnhKhoaHoc"></div>
                        <div class="col">
                            <div class="row text-muted"><a href="@Url.Action("DetailsCourse", "CourseUser", new {id = @item.iMakhoaHoc})">@item.sTenKhoaHoc</a></div>
                        </div>
                        <div class="col">@string.Format("{0:#,##0,0}", item.iLePhi)<button class="close">@Html.ActionLink("Hủy Đăng Ký","XoaKh", new { iMaKhoaHoc = item.iMakhoaHoc})</button></div>
                    </div>
                </div>
            }

        <div class="back-to-shop">
            <a href="#">&leftarrow;</a><span class="text-muted">Về khóa học</span>
            <a style="text-align:right" >X</a><span class="text-muted">@Html.ActionLink("Hủy đăng ký toàn bộ", "XoaDSDK")</span>
        </div>
        </div>

        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">Tổng số: @Model.Count</div>
                <div class="col text-right">@string.Format("{0:#,##0,0}", ViewBag.TongTien)</div>
            </div>

            <form>

                <p>GIVE CODE</p>
                <input id="code" placeholder="Enter your code">
            </form>

            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                <div class="col">Tổng Tiền:</div>
                <div class="col text-right">@string.Format("{0:#,##0,0}", ViewBag.TongTien)</div>
            </div>

            <button class="btn">Nộp học phí</button>
        </div>
    </div>
</div>
