@model WebApplicationProject.Model.DanhSachKH_CH_PH_Loai
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}
<div class="container-fluid px-4 bg-create">
    <div class="row g-3 my-2">
        <h1 class="well" style="text-align:center">THÊM LỚP HỌC MỚI</h1>
        <div class="col-lg-12 well">
            <br />
            @using (Html.BeginForm("Create", "Lop", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-12 form-group">
                            <label class="mg-head">Tên lớp</label>
                            <input type="text" placeholder="Nhập tên lớp học.." class="form-control"
                                   value="@ViewBag.Ten" name="sTen" required>
                            <div class="thongbao">
                                <p> @ViewBag.ThongBao</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="mg-head">Khóa học</label>
                        <select name="sKhoaHoc" class="form-control" required>
                            @foreach (var item in Model.KhoahocList)
                            {
                                <option value="@item.MaKhoaHoc">@item.TenKhoaHoc</option>
                            }
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 form-group">
                            <label class="mg-head">Phòng học</label>
                            <select id="sPhongHoc" name="sPhongHoc" class="form-control" required>
                                @foreach (var item in Model.PhongHocList)
                                {
                                    <option value="@item.MaPhongHoc">@item.TenPhongHoc - @item.LOAI.TenLoai - @item.TinhTrang </option>
                                }
                            </select>
                            <div class="thongbao">
                                <p> @ViewBag.ThongBaoPhong</p>
                            </div>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="mg-head">Ca học</label>
                            <select id="sCaHoc" name="sCaHoc" class="form-control" required>
                                @foreach (var item in Model.CahocList)
                                {
                                    <option value="@item.MaCaHoc">@item.TenCaHoc</option>
                                }
                            </select>
                        </div>
                        <div class="col-sm-4 form-group">
                            <label class="mg-head">Loại lớp học</label>
                            <select name="sLoaiLop" class="form-control" required>
                                @foreach (var item in Model.LoaiList)
                                {
                                    <option value="@item.MaLoai">@item.TenLoai</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label class="mg-head">Ngày khai giảng</label>
                            <input type="date" class="form-control" value="@ViewBag.NgayKhaiGiang" name="sNgayKhaiGiang" required>
                            <div class="thongbao">
                                <p> @ViewBag.ThongBaoNgay</p>
                            </div>
                        </div>
                        <div class="col-sm-6 form-group">
                            <label class="mg-head">Ngày kết thúc</label>
                            <input type="date" class="form-control" value="@ViewBag.NgayKetThuc" name="sNgayKetThuc" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="mg-head">Giáo viên</label>
                        <select name="sGiaoVien" class="form-control" required>
                            @foreach (var item in Model.GiangvienList)
                            {
                                <option value="@item.MaNhanVien">@item.TenNhanVien</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="mg-head">Mã nhân viên</label>
                        <input type="text" value="5" class="form-control" name="sMaNV" readonly>
                    </div>
                    <div class="form-group">
                        <label class="mg-head">Tên nhân viên</label>
                        <input type="text" value="Đặng Trung Hiếu" class="form-control" name="sTenNV" readonly>
                    </div>
                    <button type="submit" class="btn btn-success mg-top ">Thêm mới</button>
                    <button type="reset" class="btn btn-danger mg-top ">Nhập lại</button>
                </div>
            }
            <div class="mg-top">
                <i class="fas fa-arrow-left">@Html.ActionLink("Trở về trang quản lí lớp", "Index", null, htmlAttributes: new { @class = "btn btn-default" })</i>
            </div>
            <br />
        </div>
    </div>
</div>
