@using WebApplicationProject.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<KHOAHOC>
@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/LayoutHomeProject.cshtml";
}
<h1 class="heading"> popular courses </h1>

<!-- course section  -->

<section class="course">
    @foreach (var khoahoc in Model)
    {
        <div class="box">
            <span class="amount">@string.Format("{0:#,##0,0}", @khoahoc.LePhi) VNĐ</span>
            <img src="~/images/@khoahoc.AnhKhoaHoc" alt="">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <h3>@khoahoc.TenKhoaHoc</h3>
            <p>@TrunCate(khoahoc.MoTa, 100)</p>
            <a href="#" class="btn">learn more</a>
            <div class="icons">
                <p> <i class="far fa-clock"></i> 2 hours </p>
                <p> <i class="far fa-calendar"></i> 6 months </p>
                <p> <i class="fas fa-book"></i> 12 modules </p>
            </div>
        </div>
    }
    @*<div class="box">
            <span class="amount">$59.99</span>
            <img src="~/images/course-1.svg" alt="">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
            </div>
            <h3>front end development</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cumque ullam omnis odit accusamus doloremque? Cum aliquid unde nulla. Vitae, adipisci?</p>
            <a href="#" class="btn">learn more</a>
            <div class="icons">
                <p> <i class="far fa-clock"></i> 2 hours </p>
                <p> <i class="far fa-calendar"></i> 6 months </p>
                <p> <i class="fas fa-book"></i> 12 modules </p>
            </div>
        </div>*@
</section>
Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount
<div class="MenuTrang">
    @Html.PagedListPager(Model, page => Url.Action("Course", "Home", new { iMaKH = ViewBag.MaKH, page = page }))
</div>
<style>
    .MenuTrang {
        display: inline;
        text-align: center;
    }
</style>

@helper TrunCate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}

