<div class="col-md-12">
    <table id="calendar">
        <tr class="days">
            @foreach (var date in Model.DisplayDates)
            {
                <td class="day" style="background: #33DA9D " id="@date.ToString("yyyy-MM-dd")">

                    @foreach (var classInfo in Model.ClassesByDate[date])
                    {
                        <div class="class-info">
                            <div class="event">
                                <div class="event-desc">
                                    @classInfo.ClassName (Sĩ số: @classInfo.ClassSoLuongDangKy/@classInfo.ClassSiSoToiDa)
                                </div>
                                <div class="event-desc">
                                    @classInfo.ClassGiaoVien
                                </div>
                                <div class="event-time">
                                    @classInfo.ClassKhoaHoc
                                </div>
                            </div>
                        </div>
                    }
                </td>
            }
        </tr>
    </table>
</div>

