@using WebApplicationProject.Model;
@using PagedList.Mvc;
@model PagedList.PagedList<KHOAHOC>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<div class="container-fluid px-4">
    <div class="row g-3 my-2">
        <!--Thêm mới-->
        <div>
            @Html.ActionLink("Thêm mới", "Create", null, htmlAttributes: new { @class = "btn btn-danger" })
        </div>
        <!--Thêm  tìm kiếm vào đây-->
        <div class="body-search">
            <div class="box-search">
                <input type="text" placeholder="Search... " value="@ViewBag.Search" name="strSearch">
                <a href="@Url.Action("Index","Course")">
                    <i class="fas fa-search"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row g-3 my-2">
        <h2>QUẢN LÝ KHÓA HỌC</h2>
        <div class="col">
            <table class="table bg-white rounded shadow-sm  table-hover" style="text-align:center">
                <thead>
                    <tr>
                        <th scope="col" width="50">ID</th>
                        <th scope="col">Tên</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Lệ phí</th>
                        <th scope="col">Ngày tạo</th>
                        <th scope="col">Người tạo</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                            <tr>
                                <th scope="row">@item.MaKhoaHoc</th>
                                <td>@item.TenKhoaHoc</td>
                                <td>@TrunCate(item.MoTa,35)</td>
                                <td>@Html.FormatValue(item.LePhi, "{0:#,##0}") VNĐ</td>
                                <td>@Html.FormatValue(@item.NgayTao, "{0:dd/MM/yyyy}") </td>
                                <td>@item.NHANVIEN.TenNhanVien</td>
                                <td>
                                    <a href="@Url.Action("Edit","Course", new { id = item.MaKhoaHoc })" class="btn btn-warning" role="button">Sửa</a>
                                    <a href="@Url.Action("Details","Course", new { id = item.MaKhoaHoc })" class="btn btn-primary" role="button">Chi tiết</a>
                                    <a href="@Url.Action("Delete","Course", new { id = item.MaKhoaHoc })" class="btn btn-danger" role="button">Xóa</a>
                                </td>
                            </tr>
                    }
                    
                </tbody>
            </table>
        </div>
    </div>
    @*Phần Menu phân trang*@
    <link rel="stylesheet" href="~/Content/PagedList.css" />
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", "Course", new { iMaKH = ViewBag.MaKH, page = page }))
    </div>
</div>
<style>
    .MenuTrang {
        display: flex;
        justify-content: center;
        text-align: center;
    }
</style>
@helper TrunCate(string s, int length)
{
    if (s.Length < length)
    {
        @s
    }
    else
    {
        @s.Substring(0, length)<text>...</text>
    }
}

